[submodule "themes/tqpeak"]
	path = themes/tqpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "public"]
	path = public
	url = git@github.com:yuluobin/yuluobin.github.io.git
	branch = master
